html
    head
        title= "Reports WPT"
        style
            include ./includes/header.pug
        style .grey {background-color:grey;color:white;padding:4px;}.detalles{font-size:2em;background-color:grey;color:white;padding:4px;}
    if lista.entradas.no_cached[0].startedDateTime
        - var date = new Date(lista.entradas.no_cached[0].startedDateTime)
        - var dia = date.getDate()
        - var mes = date.getMonth() + 1
        - var ano = date.getFullYear()
        - var data = dia +"/"+mes+"/"+ano
    else
        - var data = "Sem data"

    body
        include ./includes/navbar.html
        div(class="center")
            h2 Caso: #{caso} - Teste: #{data}
            h4(id="top")
                a(href="#first") First View 
            span(id='first_gpt' class="detalles") gpt -
            span(id='first_impl' class="detalles") pub_impl -
            span(id="first_ads" class="detalles") /ads? -
            span(id="first_view" class="detalles") /view?
            
            h4
                a(href="#second") Second View

            span(id='repeated_gpt-val' class="detalles") No gtp 
            span(id='repeated_impl-val' class="detalles") No pub_impl 
            span(id="repeated_ads-val" class="detalles") No Ad Req 
            span(id="repeated_view-val" class="detalles") No Ad Render

        div(class="row")
            div(class="one column")
                |&#8291;
            div(class="ten columns")
                hr
                p(id="ping_times" style="font-size:2em;")
                canvas(id="time-report" height="600" width="1600")
                hr
            //include graph.js bellow
            div(class="one column")
                |&#8291;

        div(class="row" id="first")
            h1
                a(href="#top") First view
        div(class="row")
            div(class="one column")
                |&#8291;
            div(class="two columns") <b>Start - Download Time</b>
            div(class="nine columns") <b># - URL</b>
            hr
        //Entradas sin cache - first view
        
        - var i =  1 //número de request para crear ID
        each val in lista.entradas.no_cached
            div(class="row")
                div(class="one column" style='background-color: mediumseagreen;text-align:center') &#8291;
                div(class="two columns") ##{val.request} Req Start: #{val.req_start}ms <br>Total Download Time:[ #{val.total_download_time} ]ms <br>
                    <span class="grey">Request Ready: #{val.req_ready} sec</span><br><span class="grey">Size: #{val.total_kb_download / 1000} KB</span> 
                div(class="nine columns") <span id="first#{i}" class="first_req" data-req_ready="#{val.req_ready}">#{val.url}</span>
            hr
            - i++

        div(class="row" id="second")
            h1
                a(href="#top") Second view
        if lista.entradas.cached
            //Entradas cacheadas - second view
            - var i = 1
            each val in lista.entradas.cached
                div(class="row")
                    div(class="one column" style="background-color: tomato;text-align:center'") &#8291;
                    div(class="two columns") ##{val.request} Req Start: #{val.req_start}ms <br>Total Download Time:[ #{val.total_download_time} ]ms <br>  <span class="grey">Request Ready: #{val.req_ready} sec</span> 
                    div(class="nine columns") <span id="repeated#{i}" class="repeated_req" data-req_ready="#{ val.req_ready}">#{val.url}</span>
                    hr
                    - i++
        else
            h1
                |Sin datos de second view
        //crea panel con pings criticos de gpt para menu superior
        a(href='#first' style='position:fixed;right:10px;bottom:110px;')
            button 1st
        a(href='#second' style='position:fixed;right:10px;bottom:60px;')
            button 2nd
        a(href='#top' style='position:fixed;right:10px;bottom:10px;')
            button Top
        include ./includes/buscador.html
        
        script
            include ./includes/graph.js
                    
                
