html
    head
        title= "Reports WPT"
        style
            include ./includes/header.pug
            
    
    body
        include ./includes/navbar.html
        div(class="container")
            div(class="row")
            h1 Caso: #{caso}
            a(href="/")
                button
                    |HOME<br>

            div(class="row")
                div(class="four columns") <b>Start - Download Time</b>
                div(class="eight columns") <b># - URL</b>
                hr
            
            each val in lista.entradas
                div(class="row")
                    div(class="four columns") Req Start: [#{val.req_start}]ms <br> Total Download Time:[ #{val.total_download_time} ]ms<br> Request Ready: #{val.req_ready}sec
                    div(class="eight columns") #{val.request} - #{val.url}
                hr
            
                    
                
