html
    head
        title= "Reports WPT"
        style
            include ./includes/header.pug
    - var date = new Date(lista.entradas[0].startedDateTime)

    body
        include ./includes/navbar.html
        div(class=" center")
            h1 Caso: #{caso}
            h3 Data: #{date.getDay()}/#{date.getMonth()}/#{date.getFullYear()}
        div(class="row")
            div(class="one column")
            div(class="two columns") <b>Start - Download Time</b>
            div(class="nine columns") <b># - URL</b>
            hr
            
        each val in lista.entradas
            div(class="row")
                div(class="one column")
                div(class="two columns") Req Start: [#{val.req_start}]ms <br> Total Download Time:[ #{val.total_download_time} ]ms<br> Request Ready: #{val.req_ready}sec
                div(class="nine columns") #{val.request} - #{val.url}
            hr
            
                    
                
